option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: "20"
  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: "nginx"
  
  aws:elasticbeanstalk:environment:
    LoadBalancerType: "application"
  
  aws:elbv2:listener:80:
    ListenerProtocol: "HTTP"
    DefaultProcess: "default"
  
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
